<!--   <label class="btn btn-primary" > <input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" style="display: none;"> Upload Photo </label>

   <img-cropper id="crop1" #cropper [image]="data" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>

    <span class="result" *ngIf="data.image" >
        <img [src]="data.image" 
        [width]="cropperSettings1.croppedWidth" 
        [height]="cropperSettings1.croppedHeight">
        {{data.image.length}}
    </span> -->

<!--   <div class="row">
    <div class="col-md-6">{{type_file}}{{size_file}}</div>
  </div>   -->

<!--   <div (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer;">
   <label class="btn btn-primary"><input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" (drop)="onDrop()" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer; opacity: 0.1;"></label>

   <label (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" class="btn btn-primary" style="position: relative; top:-170px;"> <input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" style="display: none;"> Drag and drop image </label>
   </div>
 -->
<!--    <button class="btn btn-primary" (click)="PostImage()">POST IMAGE</button> -->

<!-- <button draggable="true" class="btn btn-primary">TEST</button>
  <div class="container">
    <h1>Customize preview for Cropper</h1>
    <div class="row">
      <div class="col col-6">
        <img id="image" src="./assets/test.jpg" alt="Picture">
      </div>
      <div class="col col-3">
        <div class="preview"></div>
      </div>
      <div class="col col-2">
        <div class="preview"></div>
      </div>
      <div class="col col-1">
        <div class="preview"></div>
      </div>
    </div>
  </div> -->
<div class="row">
  <div class="col-lg-6 col-md-6">

  <label class="btn btn-primary" > <input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" style="display: none;"> Upload Photo </label>

   <img-cropper id="crop1" #cropper [image]="data" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>

   <button class="btn btn-warning" (click)="CancelImg()">Cancel</button>
   <button class="btn btn-primary" (click)="PostImage(event)">Crop Image</button>

  </div>

  <div class="col-lg-6 col-md-6">
<!--   <div (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer;">
   <label class="btn btn-primary"><input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" (drop)="onDrop()" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer; opacity: 0.1;"></label>

   <label (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" class="btn btn-primary" style="position: relative; top:-170px;"> <input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" style="display: none;"> Drag and drop image </label>
   </div> -->
    
  </div>
</div>
  <div (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer;">
   <label><input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" (drop)="onDrop()" style="width: 300px; height: 300px; border: 1px solid red; text-align: center; cursor: pointer; opacity: 0;"></label>

   <label (drop)="drop_handler(event);" (dragover)="dragover_handler(event);" (dragend)="dragend_handler(event);" style="position: relative; top:-170px;"> <input type="file" #fileInput accept="image/*" (change)="uploadPhoto($event)" style="display: none;"> Drag and drop image </label>
   </div>

<span class="result" *ngIf="data.image" >
    <img [src]="data.image" 
    [width]="cropperSettings1.croppedWidth" 
    [height]="cropperSettings1.croppedHeight">
    {{data.image.length}}
</span>
